<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-links">
                <a href="/dashboard">Dashboard</a>
                <a href="/top-tracks">Top Tracks</a>
                <a href="/top-artists">Top Artists</a>
                <a href="/recently-played">Recently Played</a>
                <a href="/album-search">Rank Tracklist</a>
                <a href="/logout">Logout</a>

            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Your Name. All rights reserved.</p>
    </footer>
</body>
</html>


